<div class="sort-wrap ml-3">
  <form action="/ko/book" method="GET" class="form-inline">
    <input type="hidden" name="field" value="">
    <input type="hidden" name="search" value="">
    <select name="sort" onchange="this.form.submit();" class="form-control">
      <option value="desc">내림차순</option>
      <option value="asc">오름차순</option>
    </select>
  </form>
  </div>